<html>
  <head>
    <h1>Task list!</h1>
  </head>
  <form action='/tasks' method='post'>
  <body>
    <ul>
      #foreach ($task in $tasks)
        <li>$task.getDescription()</li>
      #end
    </ul>
    <p>Add a new Task:</p>
      <label for="description">Task Description</label>
      <input id="description" name="description" type="text">

      <button type="submit" class="FoodLevel">Feed me!</button>
      <button type="submit" class="ActivityLevel">Play with me!</button>
      <button type="submit" class="SleepLevel">Sleep Time!</button>

      <h1>April's Vital Stats</h1>
          <!-- Food Level
          Sleep Level
          Activity Level -->
    </form>
  </body>
</html>
